body {
  margin: 0;
  width: 320px;
  font-family: "Inter", Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

.container {
  padding: 15px;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 4px;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  color: #cbd5f5;
  margin-bottom: 10px;
}

#timeList {
  max-height: 180px;
  overflow-y: auto;
  margin-top: 10px;
}
.logo {
  display: block;
  margin: 0 auto 10px auto; /* center logo and add bottom space */
  width: 50px;   /* adjust size */
  height: 50px;
}

.site {
  background: rgba(255,255,255,0.08);
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #4f46e5;
}
